@import "~@redlink/amsui/styles/styles.scss";
@import "~@redlink/amsui/styles/themes/amsui-inv.theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
